html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  width: 100%;
  max-width: 100%;
}

body {
  background-color: #fcfcfc;
  transition: background-color 0.3s ease;
}

body[data-theme="dark"] {
  background-color: #121212;
}

a {
  text-decoration: none;
  color: inherit;
}
